/* Write some CSS below */
/* style.css */
html {
    display: block;
    height: 100vh;
}

body {
    font-family: Overpass;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;

}

.banner {
  background-color: rgba(50,60,74,1);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
}
.banner h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 20px
}
.banner h2 {
  color: white;
  font-size: 17px;
}
.banner p {
  color: white;
  font-size: 12px;
  opacity: .7
}
.banner img {
  height: 25px;  
  width: 25px;
}

#left_banner {
  text-align: left;
  margin-left: 20vw;
}
#right_banner {
  text-align: right;
  margin-right: 20vw;
  margin-top: 35px;
}
.button-blue {
  background-color: #00ACB0;
  color: white;
  padding: 5px 7px;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  text-align: center;
  margin-left: 5px
}
.button-blue:hover {
  background-color: black;
  color: white;
}

.container {
    margin: auto;
    margin-top: 80px;
}

.container h3 {
  text-align: center;
  
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.card-white {
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    /* width: 200px; */
    text-align: center;
    padding: 24px;
    flex-grow: 1;
}

.card-white h3 {
  margin-bottom: 0;
}
.cards-proj {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.footer {
    background: #404042;
    text-align: center;
    padding: 24px 0;
}
.footer p {
  color: white;
}

.long-card {
  background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    /* width: 200px; */
    text-align: left;
    padding: 24px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.long-card h1 {
  font-size: 20px;
}
.long-card h2 {
  font-size: 15px;
}
.long-card h3 {
  font-size: 15px;
  font-style: oblique;
  text-align: left;
  opacity: .7
}

.long-card-3 {
  background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    /* width: 200px; */
    text-align: left;
    padding: 24px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.long-card-3 h1 {
  font-size: 20px;
}
.long-card-3 h2 {
  font-size: 15px;
}
.long-card-3 h3 {
  font-size: 15px;
  font-style: oblique;
  opacity: .7
}

.cards-foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
    margin-top: 100px;
}

.card-grey {
    background: #E0E0E0;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    /* width: 200px; */
    text-align: center;
    padding: 24px;
    flex-grow: 1;
    font-size: 15px;
}

.card-grey h3 {
  margin-bottom: 0;
}




















@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 800px) {
  .cards-foot {
    grid-template-columns: 1fr;
  }
  
  .card-grey {
    width: auto;
  }
}
